$width: 100;
$gotter: 10;
$columns: 8;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.container {
  margin-left:auto;
  margin-right:auto;
  padding-left:$gotter + px;
  padding-right:$gotter + px;
  .row {
    margin-left:-$gotter + px;
    margin-right:-$gotter + px;
    @include clearfix;
    &>[class*="col-"]{
      position:relative;
      min-height:1px;
      float:left;
      padding-left:$gotter + px;
      padding-right:$gotter + px;
    }
  }
}
@for $i from 1 through $columns {
  .col-#{$i}{
    width:(($width / $columns)*$i)*1%;
  }
}