.categories {
    h5 {
        border: 1px solid #E7E6E3;
        border-radius: 3px;
        padding: 10px;
        @include gradient (#ffffff, #f2f2f2);
    }
    
    .panel .panel-heading {
//        border: none!important;
        background: #fff
    }
    
    .panel {
        border: none;
        padding: 0!important;
        margin: 0!important;
    }
    .panel a {
        padding: 0!important;
        margin: 0!important;
    }
    
    .panel-body {
        padding: 5px;
    }
    .drop-menu {
        list-style-type: none;
        padding: 0;
        li {
            padding: 5px 10px;
            border-bottom: 1px dotted #E7E6E3;
            &:last-child {
                border-bottom: none;
            }
            a {
                color: #333;
            }
        }
    }
    .telephone {
        position: relative;
        @include gradient (#5e6c70, #303537);
        
        border-radius: 5px;
        padding: 5px 30px;
        color: #fff;
        margin: 20px 0;
        span {
            font-weight: 700;
        }
        img {
            position: absolute;
            top: -15px;
            right: 0;
        }

    }
    
    .input {
        margin: 0 auto;
    }
    
    .input-group { 
        input[type="text"] {
            border-radius: 5px!important;
            width: 100%;  
        }
        .subscribe-btn {
            @include gradient(rgba(98,212,246,1), rgba(39,177,238,1));
            
            span {
                color: #fff;
                font-size: 250%;
            }
        }
    }

}