.categories {
    h5 {
        border: 1px solid #333;
        border-radius: 3px;
        padding: 3px 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
        li {
            padding: 10px;
            border-bottom: 1px dotted #333;
            &:last-child {
                border-bottom: none;
            }
        }
    }
}