.categories {
    h5 {
        border: 1px solid #E7E6E3;
        border-radius: 3px;
        padding: 10px;
        /* Chrome10-25,Safari5.1-6 */
        background: -webkit-linear-gradient(#ffffff 0%, #f2f2f2 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        background: -o-linear-gradient(#ffffff 0%, #f2f2f2 100%);
        background: linear-gradient(#ffffff 0%, #f2f2f2 100%);
    }
    ul {
        list-style-type: none;
        padding: 0;
        li {
            padding: 5px 10px;
            border-bottom: 1px dotted #E7E6E3;
            &:last-child {
                border-bottom: none;
            }
            a {
                color: #333;
            }
        }
    }
}