.contacts {
    
    .top-line {
            h4 {
            font-size: 24px;
            font-weight: 600;
            
            span {
                color: #00B3E7;
            }
        }
        
    
    }
    
    .btns-grp button {
            float: right;
            margin-right: 15px;
        }
    .btn {
        @include gradient(rgba(98,212,246,1), rgba(39,177,238,1));
        color: #fff;
    }
}