.contacts {
    
    .top-line {
            h4 {
            font-size: 24px;
            font-weight: 600;
            
            span {
                color: #00B3E7;
            }
        }
        
    
    }
    
    .btns-grp button {
            float: right;
            margin-right: 15px;
        }
}