.products {
    .top-line {
            h4 {
            font-size: 24px;
            font-weight: 600;
            
            span {
                color: #00B3E7;
            }
        }
        
        button {
            margin-top: 10px;
            padding: 5px 25px;
            color: #fff;
            font-weight: 700;
            background-color: #00B3E7;
            border-radius: 5px;
            float: right;
            outline: 0;
            border: none;
            &:hover {
                color: #747474;
            }
        }
        
        h4, button {
            display: inline-block;
        }
        
        
    }
    
    .product-item {
        padding: 10px 20px;
        max-height: 200px;
        overflow: hidden;
        
        .picture {
        text-align: center;
        margin: 20px 0;
        height: 80px;
            img {
                height: 80px;
            }
        }
        .price {
            color: #00B3E7;
            font-weight: 600;
        } 
        a {
            font-size: 11px;
        }
    }
    
    .bord {
        border-right: 1px dotted #333;
        border-bottom: 1px dotted #333;
    }
    

    .bord:nth-child(4n) {
        border-right: none;
    }
    .btm {
        border-bottom: none;
    }
    
    
}