.whatsnew {
    h5 {
        font-weight: 700;
        margin-bottom: 0;
    }
    .descr-item {
        margin: 5px 0;
        color: #8A8782;
    }
    .price {
        outline: 0;
        font-weight: 700;
        padding: 5px 25px;
        @include gradient (#ffffff, #f2f2f2);
    }
    
    .picture {
        text-align: center;
        vertical-align: baseline;
    }
    
    .item-block {
        margin: 10px 0;
    }
    
    .nav-string {
        margin: 20px 0;
    }
}