$lblue: #35b9ef;

@mixin gradient($top, $bottom){
    background: -moz-linear-gradient(top, $top 0%, $bottom 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $top 0%, $bottom 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $top 0%, $bottom 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@mixin radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}